/* for case if mode is light  */
:root[data-theme='theme-light'] {
  --text-color: #222222;
  --bg-color: white;
  --btn-text-color: #222;
}

/* for case if mode is dark  */
:root[data-theme='theme-dark'] {
  --text-color: white;
  --bg-color: #222222;
  --btn-text-color: #ff9209;
}

.dark-mode {
  position: relative;
  z-index: 3;
  background-color: var(--bg-color);
  justify-content: center;
  margin-top: -105px;
  display: flex;
  text-align: center;
  transition: all 0.5s ease-in;
}
.dark-mode__block {
  padding: 100px 0;
  width: 623px;
}

/* text dark mode */
.dark-mode__block > h6 {
  color: var(--text-color);
}
/* dark mode title */
.dark-mode__block > h1 {
  color: var(--text-color);
  margin-top: 5px;
  font-size: 32px;
  line-height: 36px;
  font-weight: normal;
}

/* dark mode title => orange text */
.dark-mode__block > h1 > span {
  color: #ff9209;
}

/* dark mode discription */
.dark-mode__block > p {
  color: var(--text-color);
  width: 100%;
  margin-top: 14px;
  font-size: 18px;
  line-height: 24px;
}

/* dark mode phone image */
.dark-mode__block > img {
  margin-top: 36px;
  width: 400px;
  height: 486px;
  object-fit: cover;
}

/* dark mode theme change buttons block */
.dark-mode__btn-container {
  position: relative;
  z-index: 2;
  background-color: var(--bg-color);
  margin-top: -10px;
  border-top: 1px solid #e5e5e5;
  justify-content: center;
  padding-top: 41px;
  transition: all 0.5s ease-in;
}

/* dark mode theme change buttons */
.dark-mode__btn-container > button {
  cursor: pointer;
  background-color: transparent;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* dark btn */
.dark-mode__btn-container > :last-child {
  margin-left: 40px;
}
/* dark mode theme change buttons => texts */
.dark-mode__btn-container > button > span {
  margin-top: 5px;
}

.dark-mode__btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .dark-mode {
    margin-top: 0;
  }
}
