.features-block {
  z-index: 9;
  position: relative;
  margin-top: -205px;
  padding-top: 100px;
  padding-bottom: 80px;
  text-align: center;
  background-color: #222222;
}

/* getting features text */
.features-block > span {
  font-size: 0.875rem;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* getting features discription */
.features-block > h4 {
  margin: 0 auto;
  margin-top: 5px;
  max-width: 500px;

  font: 400 32px 'Poppins';
  line-height: 36px;
}

/* adding uniq color to item h6 */
/* 1 */
.features-block__items > :nth-child(1) > .features-block__item_text-block > h6 {
  color: #0278ed;
}
/* 2 */
.features-block__items > :nth-child(2) > .features-block__item_text-block > h6 {
  color: #ff5437;
}
/* 3 */
.features-block__items > :nth-child(3) > .features-block__item_text-block > h6 {
  color: #ff9209;
}
/* 4 */
.features-block__items > :nth-child(4) > .features-block__item_text-block > h6 {
  color: #e738ce;
}
/* 5 */
.features-block__items > :nth-child(5) > .features-block__item_text-block > h6 {
  color: #00c6df;
}
/* 6 */
.features-block__items > :nth-child(6) > .features-block__item_text-block > h6 {
  color: #b25df8;
}

.features-block__items {
  margin: 45px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.features-block__item {
  width: 380px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

/* getting phone image */
.features-block__item > :first-child {
  width: 100%;
  height: 450px;
  object-fit: contain;
  margin-top: 40px;
}
.features-block__item_text-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: auto;
  background-color: #f2f2f2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* getting item icon */
.features-block__item_text-block > img {
  margin-top: -35px;
}
/* getting item title */
.features-block__item_text-block > h6 {
  font: 400 24px 'Poppins';
  line-height: 30px;
  margin-top: 18px;
}

/* getting item discriptions */
.features-block__item_text-block > p {
  line-height: 22px;
  color: #222222;
  font-size: 15px;
  min-height: 68px;
  max-width: 300px;
  margin: 11px auto;
  margin-bottom: 40px;
}
