.future-block {
  padding-left: -20px;
}
.future-block > .container {
  padding-top: 90px;
}
.future-block__left-side {
  width: 420px;
  margin-top: 50px;
  margin-right: 190px;
}

.btns > .btn {
  height: 40px;
  width: 148px;
  border-radius: 4px;
}
/* getting title */
.future-block__left-side > h3 {
  margin-top: 5px;
  font: normal 3.375rem 'Poppins';
  line-height: 60px;
  color: #222222;
}

/* getting paragraph */
.future-block__left-side > p {
  margin-top: 17px;
  font-size: 1rem;
  line-height: 24px;
  color: #222222;
}

/* getting buttons block(div) */
.future-block__left-side > .btns {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.future-block__left-side > .btns > * {
  margin-left: 5px;
}

/* START RIGHT SIDE */
.future-block__right-side > img {
  width: 100%;
  object-fit: cover;
  margin-right: 30px;
}

@media only screen and (max-width: 1010px) {
  .future-block__left-side {
    margin: 0 0 40px 0;
  }
  .future-block__container {
    flex-direction: column;
  }
  .future-block__right-side > img {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .future-block__left-side {
    width: auto;
  }
  .future-block__right-side > img {
    margin-right: 0;
  }
}
