.speedSecurity-block {
  z-index: 2;
  position: relative;
  margin-top: -205px;
  background: #f2f2f2;
  padding: 100px 214px 0 214px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.speedSecurity-block__container {
  width: 100%;
}

.speedSecurity-block__right-side {
  max-width: 420px;
}

/* START RIGHT SIDE */
.speedSecurity-block__left-side > img {
  width: 100%;
  height: 544px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .speedSecurity-block {
    padding: 0;
  }
  .speedSecurity-block__container {
    width: 85%;
  }
  .speedSecurity-block__right-side {
    margin-top: 20px;
  }
}
