.speedSecurity-block {
  z-index: 2;
  position: relative;
  margin-top: -205px;
  background: #f2f2f2;
}
.speedSecurity-block__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.speedSecurity-block__right-side {
  margin-top: 77px;
  max-width: 420px;
  margin-left: 195px;
}

/* START LEFT SIDE */
.speedSecurity-block__left-side > img {
  width: 100%;
  height: 544px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .speedSecurity-block {
    padding: 0;
  }
  .speedSecurity-block__container {
    width: 85%;
    flex-direction: column-reverse;
  }
  .speedSecurity-block__right-side {
    margin: 0 0 40px 0;
  }
}
