.speedSecurity-block {
  z-index: 2;
  position: relative;
  margin-top: -205px;
  background: #f2f2f2;
}

.speedSecurity-block__right-side {
  margin-top: 77px;
  max-width: 420px;
  margin-left: 195px;
}

/* START LEFT SIDE */
.speedSecurity-block__left-side > img {
  object-fit: cover;
}

@media only screen and (max-width: 1010px) {
  .speedSecurity-block__right-side {
    margin: 0 0 40px 0;
  }
  .speedSecurity-block > .container {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 850px) {
  .speedSecurity-block {
    padding: 0;
  }
  .speedSecurity-block__container {
    width: 85%;
  }
}
