.static-block {
  width: 100%;
  min-height: 316px;
  background-color: #ff5437;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 270px 0 244px;
}

/* getting statics block */
.static-block > .statics {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.static-block > .statics:nth-child(2) {
  padding-right: 20px;
}

/* getting statics title */
.static-block > .statics > h1 {
  font: 400 96px 'Poppins';
  line-height: 96px;
  margin-bottom: 10px;
}

/* getting statics discriptions */
.static-block > .statics > span {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1120px) {
  .static-block {
    padding: 20px 0;
    justify-content: center;
    gap: 50px;
  }
}
@media only screen and (max-width: 850px) {
  .static-block > .statics > h1 {
    margin-bottom: 0;
  }
  .static-block > .statics {
    width: 100%;
  }
}
