.technology-block {
  background: white;
}

.technology-block__left-side {
  margin-top: 77px;
  max-width: 420px;
  margin-right: 195px;
}

/* START RIGHT SIDE */
.technology-block__right-side > img {
  object-fit: cover;
}

@media only screen and (max-width: 1010px) {
  .technology-block__left-side {
    margin: 0 0 40px 0;
  }
  .technology-block > .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  .technology-block {
    padding: 0;
  }
  .technology-block__right-side > img {
    margin-top: 50px;
  }
  .technology-block__left-side {
    margin: 0;
  }
  .technology-block__container {
    width: 85%;
  }
}
