.technology-block {
  background: white;
  padding: 100px 214px 0 214px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technology-block__left-side {
  max-width: 420px;
  margin-top: 76px;
}
.technology-block__container {
  width: 100%;
}

/* START RIGHT SIDE */
.technology-block__right-side > img {
  width: 100%;
  height: 744px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .technology-block {
    padding: 0;
  }
  .technology-block__right-side > img {
    margin-top: 50px;
  }
  .technology-block__left-side {
    margin-top: 0;
  }
  .technology-block__container {
    width: 85%;
  }
}
