.testimonials-block {
  background-color: #f2f2f2;
  padding: 0 0 100px 0;
  text-align: center;
}

.testimonials-block__text-block {
  margin: 0 auto;
  padding-bottom: 20px;
}

.testimonials-block .block-description {
  font-size: 18px;
}

.testimonials-block__items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 16px;
}

/* getting block item */
.testimonials-block__items > .item {
  width: 380px;
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  text-align: left;

  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

@media only screen and (max-width: 850px) {
  .testimonials-block {
    margin-top: 40px;
  }
  .testimonials-block__items {
    align-items: center;
  }
  .testimonials-block__items > .item {
    width: 100%;
  }
}
