.timer-block {
  background: url('../../assets/images/timer-background.png') no-repeat;
  background-size: cover;
  width: 100%;
  height: 436px;
  text-align: center;
}

.timer-block__title {
  font: 700 50px 'Poppins';
  line-height: 75px;
  padding-top: 60px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

/* getting second timer title */
.timer-block > h4 {
  font: 700 30px 'Poppins';
  line-height: 45px;
  letter-spacing: 1.5px;
}

.timer {
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 100px;
  line-height: 150px;
}

.timer-number {
  width: 130px;
  padding: 0.1em;
  display: inline-block;
  position: relative;
  margin-right: 50px;
}

.timer-number:not(:last-child)::after {
  content: '|';
  position: absolute;
  right: -65px;
  top: 20px;
}

.timer-time {
  padding: 0.1em;
  display: inline-block;
}

.timer-text {
  font: 700 24px 'Poppins';
  text-transform: lowercase;
  margin-top: -20px;
  margin-left: 15px;
  display: block;
  line-height: 36px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 768px) {
  .timer-block__title {
    font: 700 40px 'Poppins';
    line-height: 40px;
    padding-top: 90px;
    letter-spacing: 1.1px;
  }
  .timer-block > h4 {
    font: 700 18px 'Poppins';
    line-height: 27px;
    letter-spacing: 1.5px;
  }
  .timer {
    font-size: 40px;
    line-height: 60px;
  }
  .timer-time {
    padding: 0;
  }
  .timer-number {
    width: 50px;
    margin-right: 20px;
  }
  .timer-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }
  .timer-number:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: -25px;
    top: 5px;
  }
}
