.faq-block {
  padding: 100px 136px;
  background-color: #e5e5e5;
  color: #222222;
}

/* getting FAQ text */
.faq-block__header > h1 {
  font-size: 32px;
  line-height: 36px;
}

/* getting FAQ paraghraph */
.faq-block__header > p {
  margin-top: 13px;
  font-size: 15px;
  line-height: 20px;
}

.faq-block__items {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* getting questions */
.faq-block__item > h6 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* getting answers */
.faq-block__item > p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
