.technology-block {
  background: white;
  padding: 100px 214px 0 214px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.technology-block__left-side {
  margin-top: 76px;
  max-width: 420px;
}

/* START RIGHT SIDE */
.technology-block__right-side > img {
  width: 100%;
  height: 744px;
  object-fit: cover;
}
