.fdrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fdrow_spb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w100 {
  width: 100%;
}

.ml40 {
  margin-left: 40px;
}

.fsz18 {
  font-size: 18px !important;
}

.lh36 {
  line-height: 36px;
}

.mt23 {
  margin-top: 23px;
}

.maxw590 {
  max-width: 590px;
  text-align: center;
  margin: 0 auto;
}

.block-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
}

.block-h3 {
  margin-top: 11px;
  font-size: 32px;
  line-height: 36px;
  color: #222222;
}

.block-description {
  margin-top: 17px;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
